<div class="container-fluid container">
    <div class="row" style="padding-bottom: 75px; padding-top: 75px;">
        <div class="col-md-4 col-xs-12 col-md-offset-1 skills-description text-center-xs text-center-sm"
             style="margin-bottom: 50px;">
            <h2>Front-end Web Stack</h2>
            <p>My front-end web stack consists primarily of HTML, CSS, JavaScript and Angular. For convenience, I also
                use some common libraries/frameworks such as jQuery and Bootstrap.</p>
            <!--TODO: Add exercises to the links.-->
            <p>Below are some examples of projects that used this stack and can be found  <a
                    href="https://github.com/kalew8/assignments" target="_blank">here</a> in my Github.</p>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/kj-diaries" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    K&J Replica
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/colossal-adventure" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Colossal Adventure
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/weatherapi" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Weather App
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/jquery-pest-control" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Pest Control
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/high-score-haven" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    High Score
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/projects/penguins-vs-communists" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Penguins vs Communists
                </div>
            </a>
        </div>
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div class="col-xs-6">
                <img src="components/images/html5.png" class="center-block img-responsive skillsRowOne">
                <img src="components/images/js.png" class="center-block img-responsive skillsRowOne half-space-top">

            </div>
            <div class="col-xs-6">
                <img src="components/images/css.jpg" class="center-block img-responsive skillsRowOne">

                <img src="components/images/angular.png"
                     class="center-block img-responsive skillsRowOne half-space-top">
            </div>
        </div>
    </div>

        <hr class="skills-one">
    <div class="row" style="padding-top: 75px; padding-bottom: 75px;">
        <div class="col-md-4 col-xs-12 col-md-offset-1 skills-description text-center-xs text-center-sm"
             style="margin-bottom: 50px;">
            <h2>Full-Stack</h2>
            <p>For full-stack web applications I use the MEAN stack - MongoDB, Express, AngularJS and Node.js.</p>
            <!--TODO: Add an actual link to the link.-->
            <p>Below are some examples of projects that used this stack and can be found  <a
                    href="https://github.com/kalew8/assignments" target="_blank">here</a> in my Github.</p>
            <a href="https://github.com/kalew8/assignments/tree/master/exercises/rock-the-vote" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Rock the Vote
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/exercises/original-bounty-hunter" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Bounty Hunter
                </div>
            </a>
            <a href="https://github.com/kalew8/assignments/tree/master/exercises/todo-backend" target="_blank">
                <div class="used">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    Back-End Todo
                </div>
            </a>
        </div>
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <img src="components/images/express.png" style="max-height:100px;"
                 class="center-block skillsRowTwo img-responsive">
            <img src="components/images/nodejs.png" class="center-block img-responsive skillsRowTwo">
            <img src="components/images/mongodb.png" class="center-block img-responsive skillsRowTwo">
        </div>
    </div>
    <hr class="skills-one">
    <div class="row" style="padding-top: 200px;">
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-1 skills-description text-center-xs text-center-sm"
             style="margin-bottom: 50px;">
            <h2>Version Control</h2>
            <p>I currently use Git for version control.</p>
        </div>
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <img src="components/images/git.png" class="center-block img-responsive skillsRowThree"
                 style="margin-bottom: 200px;">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <footer class="text-center" style="color: white; background-color: grey;">
            This site was created using AngularJS by Joshua Waite
        </footer>
    </div>
</div>
