<div class="container-fluid container">
    <div class="row" style="margin-top: 75px; margin-bottom: 180px;">
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div ng-click="clickedPicture('one')"><img src="components/portfolio/images/syllabuster-macbook.png" class="grabbable img-responsive macbook-overlay"></div>
        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-0 project-description text-center-xs text-center-sm">
            <a href="https://github.com/V-School-SLC-January/Syllabusters" style="color: black; text-decoration: none;" target="_blank"><h2>Syllabuster</h2></a>
            <p>This web application helps students and teachers manage their educational content in a simple and unified web app. This full stack application utilises the MEAN stack.</p>
            <!--TODO: Add actual links to K&J diaries and project site.-->
            <p>You can view this project's github by clicking <a
                    href="https://github.com/V-School-SLC-January/Syllabusters" target="_blank">here</a>.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i> HTML
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                CSS
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Bootstrap
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                JavaScript
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Angular
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Nodejs
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Express
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Mongoose
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                MongoDB
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 180px;">
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div ng-click="clickedPicture('two')"><img src="components/portfolio/images/apptracker-macbook.png" class="grabbable img-responsive macbook-overlay"></div>
        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-0 project-description text-center-xs text-center-sm">
            <a href="https://github.com/kalew8/application-tracker" style="color: black; text-decoration: none;" target="_blank"><h2>Application Tracker</h2></a>
            <p>This is a web application that helps the user keep track of submitted job applications. This is a full stack application that utilizes the MEAN stack.</p>
            <!--TODO: Add actual links to K&J diaries and project site.-->
            <p>You can view this project's github by clicking <a
                    href="https://github.com/kalew8/application-tracker" target="_blank">here</a>.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i> HTML
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                CSS
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Bootstrap
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                JavaScript
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Angular
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Nodejs
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Express
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Mongoose
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                MongoDB
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 180px;">
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div ng-click="clickedPicture('three')"><img src="components/portfolio/images/kjmacbook.png" class="grabbable img-responsive macbook-overlay"></div>
        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-0 project-description text-center-xs text-center-sm">
            <a href="http://htmlpreview.github.io/?https://github.com/kalew8/assignments/blob/master/projects/kj-diaries/index.html" style="color: black; text-decoration: none;" target="_blank"><h2>K&J Replica</h2></a>
            <p>K&J Replica is a web project that I created from an image of an actual site.</p>
            <!--TODO: Add actual links to K&J diaries and project site.-->
            <p>You can view my project site <a href="http://htmlpreview.github.io/?https://github.com/kalew8/assignments/blob/master/projects/kj-diaries/index.html" target="_blank">here</a>. Please note that buttons and links are not currently active.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i> HTML
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                CSS
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Bootstrap
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                JavaScript
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 180px;">
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div ng-click="clickedPicture('four')"><img src="components/portfolio/images/weathermacbook.png" class="grabbable img-responsive macbook-overlay"></div>
        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-0 project-description text-center-xs text-center-sm">
            <a href="https://github.com/kalew8/weather-app" style="color: black; text-decoration: none;" target="_blank"><h2>Weather App</h2></a>
            <p>This is a weather app that pulls data from the Google Maps Geocoding API and the Darksky Weather API. It
                takes an address or zip code and returns a comprehensive weather report.</p>
            <!--TODO: Add an actual link to the link.-->
            <p>Check out the github <a href="https://github.com/kalew8/weather-app" target="_blank">here</a>.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                HTML
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                CSS
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Bootstrap
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                JavaScript
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Angular
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 180px;">
        <div class="col-md-7 col-md-offset-0 col-xs-12">
            <div ng-click="clickedPicture('five')"><img src="components/portfolio/images/rockthevotemacbook.png" class="grabbable img-responsive macbook-overlay"></div>
        </div>
        <div class="col-md-5 col-xs-12 col-md-offset-0 project-description text-center-xs text-center-sm">
            <a href="https://github.com/kalew8/assignments/tree/master/exercises/rock-the-vote" style="color: black; text-decoration: none;" target="_blank"><h2>Rock the Vote</h2></a>
            <p>This is a web application that allows the user to add, edit, and vote on posts about political issues. This is a full stack application that utilizes the MEAN stack.</p>
            <!--TODO: Add actual links to K&J diaries and project site.-->
            <p>You can view this project by clicking <a
                    href="https://github.com/kalew8/assignments/tree/master/exercises/rock-the-vote" target="_blank">here</a>.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i> HTML
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                CSS
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Bootstrap
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                JavaScript
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Angular
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Nodejs
            </div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                Express
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 180px;">
        <div class="col-xs-12 text-center">
            <h2>View more projects on <a href="https://github.com/kalew8/assignments" target="_blank">Github</a></h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="padding: 0;">
        <footer class="text-center" style="color: white; background-color: grey;">
            This website was created using AngularJS by Joshua Waite
        </footer>
    </div>
</div>

<!--CLICK MODAL-->


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--MODAL HEADER-->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal"
                        ng-click="toggleEdit = false">&times;</button>
            </div>
            <!--MODAL BODY-->
            <div class="modal-body">
                <img ng-src="{{modalImage}}" class="img-responsive">
            </div>
        </div>
    </div>
</div>