
<div class="row"  style="margin-top: 100px;">
    <div class="col-xs-6 col-xs-offset-1 portfolio-container">
        <div class="inside-projects">
            <img src="components/portfolio/images/macbook.png" class="img-responsive macbook-overlay">
            <img src="components/portfolio/images/rock-the-vote.png" class="img-responsive macbook-underlay">
        </div>
    </div>
    <div class="col-xs-4 project-description">
        <h2>Rock the Vote</h2>
        <p>This is an Angularjs web app that was created to solidify my understanding server-side app creation using nodejs and express.</p>
        <!--TODO: Add actual links to K&J diaries and project site.-->
        <p>You can view this project by clicking <a href="">here</a>.</p>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i> HTML</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            CSS</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Bootstrap</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            JavaScript</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Angular</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Nodejs</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Express</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-1 portfolio-container">
        <div class="inside-projects">
            <img src="components/portfolio/images/macbook.png" class="img-responsive macbook-overlay">
            <img src="components/portfolio/images/kjsquare2.png" class="img-responsive macbook-underlay">
        </div>
    </div>
        <div class="col-xs-4 project-description">
            <h2>K&J Replica</h2>
            <p>K&J Replica was a web project that I created from an image of an actual site. The purpose of this project was to help hone front-end skills.</p>
            <!--TODO: Add actual links to K&J diaries and project site.-->
            <p>You can find the actual website <a href="">here</a> and my project site <a href="">here</a>.</p>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i> HTML</div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
             CSS</div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
             Bootstrap</div>
            <div class="used">
                <i class="fa fa-star-o" aria-hidden="true"></i>
             JavaScript</div>
        </div>
    </div>

<div class="row">
    <div class="col-xs-6 col-xs-offset-1 portfolio-container">
        <div class="inside-projects">
            <img src="components/portfolio/images/macbook.png" class="img-responsive macbook-overlay">
            <img src="components/portfolio/images/weather-api-app.png" class="img-responsive macbook-underlay">
        </div>
    </div>
    <div class="col-xs-4 project-description">
        <h2>Weather API App</h2>
        <p>This is a weather app that pulls data from the Google Maps Geocoding API and the Darksky Weather API. It takes an address or zip code and returns a comprehensive weather report.</p>
        <!--TODO: Add an actual link to the link.-->
        <p>Check out the weather app <a href="">here</a>.</p>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            HTML</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            CSS</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Bootstrap</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            JavaScript</div>
        <div class="used">
            <i class="fa fa-star-o" aria-hidden="true"></i>
            Angular</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center" style="margin-bottom: 100px;">
        <h2>View some more projects on <a href="https://www.github.com/kalew8">Github</a></h2>
    </div>
</div>