<div class="container-fluid container">
    <div class="row">
<div class="col-xs-12">
<div class="row" style="margin-top: 75px;">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center-xs about-description">
        <h2>Hey, I'm Josh</h2>

        <h3>I am a web developer who is passionate about coding.</h3>

        <p>My current stack for development is the MEAN stack. You can check out my most prominent skills by heading over to my <a href="#!/skills">skills</a> page, or some of my applications on my <a href="#!/projects">projects</a> page.</p>

        <p>My passion for coding and development began a long time ago with a love for technology. Tasks like building my own PC, tinkering with electronics, and altering websites in my spare time is what I loved to do. All of that has led me to a career in web development, which allows me to utilize my love for technology every day.</p>

        <div class="buttons"><a href="mailto:kalewaite@gmail.com?Subject=Let's%20Collaborate" class="button-one btn">Let's collaborate<i class="fa fa-chevron-circle-right" aria-hidden="true" style="padding-left: 10px; "></i></a>
            <a href="https://www.dropbox.com/s/cg0i3d19r3e6sy0/Joshua-WaiteM.pdf?dl=1" class="button-two btn" target="_blank">Want a resume? <i class="fa fa-chevron-circle-right" aria-hidden="true" style="padding-left: 10px;"></i></a>
        </div>
    </div>
</div>
</div>
</div>
</div>